.container-03{
    margin-top: 45px;
    background-color: black;
    height: 250px;
    h2{
        color: white;
        font-size: 2rem;
        font-family: 'Open Sans', sans-serif;
    }

    .boton-01{
    //    rotar elemento
    transform: rotate(20deg) translateX(250px);
    transition: 1s;

    &:active{
        transform: rotate(360deg) translateX(250px);
    }
    }
}